.user-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }


  
  .page-head {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .noti {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 20px 0px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px; 
    margin-top: 30px;
  }
  
    .noti-photo {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
    }

    .noti-detile {

      text-align: start;
      font-size: 15px;
      font-weight: 600;
        }
    .noti-id {
      color: rgb(255, 145, 0);
      font-size: 20px;
      font-weight: 600;
    }