
<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<!--- Form  header -->
<ion-content>
  <section class = "logos-container">
    <div class="row logos">
      <div class="col-4">
      </div>
      <div class="col-4 tittle">
        <img src="assets/img/logo.png" />
        <h1>اعادة تعيين كلمة المرور </h1>
        <p> مرحبا بعودتك! </p>

      </div>
      <div class="col-4">
      </div>
    </div>
<!--- End Form  header -->

<!---  Form  -->
<form [formGroup]="emailForm">
    <ion-row class="login-form">
      <ion-col>
        <ion-list lines="none" >
          <ion-item>
            <ion-label slot="end">
           
            </ion-label>
            <ion-input
            formControlName="email"
              placeholder="البريد الالكتروني"
              type="email"
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div *ngIf="emailForm.get('email').invalid && (emailForm.get('email').dirty || emailForm.get('email').touched)">
                {{ validation.message }}
              </div> 
              </ng-container>
              </div>

        </ion-list>

       
         <!---  log in button  -->
         <ion-col size="12">
          <ion-button expand="block" (click)="reset()" class="continue-button"  [disabled]="!emailForm.valid">
          ارسال كود اعادة تعيين 
          </ion-button>
      <!--
<div *ngIf="loading">
            الرجاء الانتظار قليلا 
          </div>
      -->    
        </ion-col>
        <div>
          <ion-label slot="start" class="forget" routerLink="/reset-token">
            <ion-icon name="key-outline"></ion-icon> ادخال رمز التفعيل
          </ion-label>
      
        </div>
    
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="errorMsg">
              <ion-icon name="information-circle-outline"></ion-icon> {{ errorMsg }}
            </div>
          </ng-container>
        </div>
        <!---  End log in button  -->
      </ion-col>
    </ion-row>
  </form>
    <!--- End Form   -->
  </section>

<ion-content>
