<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> اشتري لي </ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>


  <ion-grid>

  <ion-row class="buy-form">
  
    <ion-col size="12">
      <div class = "list">
        <label class = "item buy-order-disc"> تفاصيل الطلب
        </label>  
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list add-tex ">
        <ion-item>
          <ion-textarea class="buy-order-disc-text" placeholder="التفاصيل"></ion-textarea>
        </ion-item>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class = "list">
        <label class = "item buy-order-receipt-address" > عنوان الاستلام
        </label>   
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list ">
        <input  class = "item-input buy-order-receipt-address-text" type = "text" placeholder = "عنوان الاستلام" />    
     </div>
    </ion-col>


    <ion-col size="12">
      <div class = "list">
        <label class = "item buy-order-receipt-calender"> وقت الاستلام 
        </label>  
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <input class = "item-date buy-order-receipt-date" type = "date"  />
        <input class = "item-time buy-order-receipt-time" type = "time" />
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <label class = "item buy-order-deliver-address">عنوان التسليم
        </label>  
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <input  class = "item-input buy-order-deliver-address-text" type = "text" placeholder = "عنوان التسليم" />    
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <label class = "item buy-order-deliver-calender"> وقت التسليم
        </label>  
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <input class = "item-date buy-order-deliver-date" type = "date"  />
        <input class = "item-time buy-order-deliver-time" type = "time" />   
     </div>
    </ion-col>

    <ion-col size="12" class="order-track" routerLink="/tabs/tab2"> 
      <a button icon-start ion-button full class="order-track">
        <ion-label class="add-item buy-order-submit" > ارسال الطلب  </ion-label>
      </a>
       </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
