<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1/1" routerDirection="root">
      <img src="assets/img/logo.png">
    </ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> اخدمني </ion-label>
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-col>
  </ion-row>


  <ion-grid>

  <ion-row class="buy-form">
  
    <ion-col size="12">
      <div class = "list">
        <label class = "item serve-order-disc"> تفاصيل الطلب
        </label>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
          <ion-textarea
            [(ngModel)]="reqModel.orderDetails"
            [autoGrow]="true"
            class = "item-input buy-order-receipt-address-text"
            placeholder="التفاصيل">
          </ion-textarea>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class = "list">
        <label class = "item serve-order-receipt-address"> عنوان الاستلام
        </label>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <ion-textarea
          [(ngModel)]="reqModel.recieverAddress"
          [autoGrow]="true"
          class = "item-input serve-order-receipt-address-text"
          placeholder = "عنوان الاستلام" >
        </ion-textarea>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class = "list">
        <label class = "item serve-order-receipt-calender"> وقت الاستلام 
        </label>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <ion-datetime 
          class = "item-date serve-order-receipt-date"
          [(ngModel)]="reqModel.recieverDate"
        >
        </ion-datetime>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <label class = "item serve-order-delever-address">عنوان التسليم
        </label>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <ion-textarea
          [(ngModel)]="reqModel.senderAddress"
          [autoGrow]="true"
          class = "item-input serve-order-receipt-address-text"
          placeholder = "عنوان التسليم" ></ion-textarea>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <label class = "item serve-order-delever-calender"> وقت التسليم
        </label>
     </div>
    </ion-col>
    <ion-col size="12">
      <div class = "list">
        <ion-datetime
          class = "item-date serve-order-delever-date"
          [(ngModel)]="reqModel.senderDate"
        >
        </ion-datetime>
     </div>
    </ion-col>

    <ion-col size="12">
      <ion-button
        (click)="save()"
        class="order-track"
        expand="block">
         ارسال الطلب 
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
