<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> العناوين </ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>




  <!-- map-->
  <section class="map-section">
       <div class="map-block">
         <ion-item class="map-header">
          <ion-icon name="locate" class="location"></ion-icon>
          <ion-lable class="location-titlle"> مافيرا 1 / اسطنبول / تركيا</ion-lable>
         </ion-item>
       </div>
  </section>
 <!-- End map-->

 <!--Address Info-->

<section class="address-info" >
  <ion-grid class="sevices">
    <ion-row>
      <ion-col size="6">
        <ion-list lines="none">
          <ion-item >
            <ion-lable class="booking-date"> رقم المنزل</ion-lable>
          </ion-item>
          <ion-item >
            <ion-input type="txt" placeholder="000"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list lines="none">
          <ion-item >
            <ion-lable class="booking-time"> الطابق </ion-lable>
          </ion-item>
          <ion-item >
            <ion-input type="text" placeholder="A-000"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list lines="none">
          <ion-item >
            <ion-lable class="booking-date"> اسم البناء</ion-lable>
          </ion-item>
          <ion-item >
            <ion-input type="text" placeholder="mavera1"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list lines="none">
          <ion-item >
            <ion-lable class="booking-time">  رقم البناء </ion-lable>
          </ion-item>
          <ion-item >
            <ion-input type="text" placeholder="000"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
       <!-- End Address Info-->

      <!-- save Address -->
      <ion-col size="12">
        <ion-button  expand="block"  class="save-address" >
         اضافة عنوان
        </ion-button>
      </ion-col>
      <!-- save Address -->
    </ion-row>
  </ion-grid>
</section>

</ion-content>

