<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1/1" routerDirection="root">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> حول التطبيق</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>

<ion-row >
  <ion-col size="12" class="about-text">
    <h2 class="about-head"> حول التطبيق </h2>
    <p class="about-desc">

      الرؤية: أن نكون الخيار الأول للمستهلك اليمني الراغب في شراء المنتجات أو طلب خدمات عبر شبكة الإنترنت.
      <br><br>
      الرسالة: نسعى لتوفير المنتجات والخدمات للمستهلك اليمني عبر منصتنا الإلكترونية و إيصالها إليه بأفضل حال وأعلى سرعة عبر فريق توصيل متمكن و بأسعار مناسبة       
    </p>

    <h2 class="about-head">  لمحة عن التطبيق  </h2>
    <p class="about-desc">
      ما هو تطبيق طلبك بين يديك ؟ 
      <br><br>
      هو تطبيق خدمي يستطيع المستهلك اليمني من خلاله شراء المنتجات أو طلب الخدمات التي يرغب فيها وايصالها إليه. وذلك عبر ثلاث خدمات أساسية هي مأكولات وتُعنى بسوق المطاعم وكذا أسواق و تُعنى بجميع المتاجر وهذه الخدمة سيتم تفعيلها تدريجياً وذلك بإدخال سوق منتجات واحد تلو الأخر وأخيرًا خدمة أخدمني بشقيها أشتري لي منتج من خارج المنصة و انفعني والتي تقوم بتنفيذ منافع للعميل مثل توصيل أغراضه من مكان إلى أخر وغيرها من الخدمات التي سيتم إدخاله في التطبيق تدريجيا.
      <br><br>
      أين الفائدة الحقيقية لي كمستخدم لهذا التطبيق؟
      <br><br>
      لا يخفى على أحد في اليمن أن خروج أي شخص من مكانه والذهاب إلى مكان أخر للقيام بعمل ما أو شراء شيء ما يأخذ من جهده و وقته وماله بسبب الازدحام وارتفاع سعر الوقود وهذا لا يناقش فيه أحد وباستخدام تطبيقنا سنوفر لك كل ذلك وسيصلك كل ما تريده دون عناءٍ  وبسرعةٍ وتكلفةٍ مناسبةٍ . 
      
    </p>


  </ion-col>





</ion-row>

</ion-content>

