<!--  
<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
  <div class="row logos">
    <div class="col-4">
    </div>
    <div class="col-4 tittle">
      <img src="assets/img/logo.png" />
      <h2 >
        الرجاء اختيار الخدمة المطلوبة
      </h2>
    </div>
    <div class="col-4">
    </div>
  </div>
  <ion-grid>
    <ion-row class="intro">
      <ion-col *ngFor="let category of categories"
        size="12" class="intro-item" [routerLink]="['/tabs/tab1', category.id]">
        <ion-img [src]="AppConsts.appBaseUrl + '/' + category.imagePath" ></ion-img>
        <h2>
          {{ category.name }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="intro">
      <ion-col 
        size="12" class="intro-item"  routerLink="/introtow" >
        <ion-icon name="bag-handle-outline"></ion-icon>
        <h2>
        انفعني
        </h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
