<!--  
<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
  <div class="row logos">
    <div class="col-4">
    </div>
    <div class="col-4 tittle">
      <img src="assets/img/logo.png" />
      <h2 >
        الرجاء اختيار الخدمة المطلوبة
      </h2>
    </div>
    <div class="col-4">
    </div>
  </div>
  <ion-grid>
    <ion-row class="intro">
      <ion-col size="12" class="intro-item" routerLink="/tabs">
        <ion-icon name="fast-food-outline"></ion-icon>
        <h2 >
          ماكولات
        </h2>
      </ion-col>
      <ion-col size="12" class="intro-item" routerLink="/tabs">
        <ion-icon name="storefront-outline"></ion-icon>
        <h2>
          التسوق
        </h2>
      </ion-col>
      <ion-col size="12" class="intro-item" routerLink="/tabs">
        <ion-icon name="briefcase-outline"></ion-icon>
        <h2 >
         خدمات
        </h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
