
  <ion-content [fullscreen]="true">
    <ion-row class="user-bar">
      <ion-col size="2" class="logo-head" routerLink="/tabs/tab1">
        <img src="assets/img/logo.png">
  </ion-col>
      <ion-col size="8" class="page-head">
        <ion-label class="rest-title"> طلباتي</ion-label>
      </ion-col>
  
      <ion-col size="2" class="page-head">
        <ion-buttons>  
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
    </ion-row>

  <ion-grid class="ion-margin track">

    <ion-row class="track-head" >
      <ion-label class="track-title"></ion-label>
      <ion-col size="12">طلبات جارية </ion-col>
    </ion-row>

    <ng-container *ngFor="let order of orders">
    <ng-container *ngIf="order.orderStatus !== 15">
      <ion-row class="track-head">
        <ion-label class="track-title"></ion-label>
        <ion-col size="6">رقم الطلب :</ion-col>
        <ion-col size="6">{{ order.id }} </ion-col>
      </ion-row>


      <!-- <ion-row class="order-action" >  
        <ion-col size="3"> الشحن  :</ion-col> 
        <ion-col size="3" > 
          {{ order.shippingAmount }}
          </ion-col>
      
        <ion-col size="3">الضريبة   :</ion-col> 
        <ion-col size="3" > 
          {{order.taxAmount }}
          </ion-col>
      </ion-row> -->
      
      

        <ion-row class="order-cutomer" >
          <ion-col size="6" class="total item-photo" >
            الإجمالي   : 
            <ion-row >  
                <ion-col size="12" >
                   {{order.totalAmount }}
                </ion-col>
              </ion-row>
          </ion-col>

          <ion-col size="6" class=" date item-photo" >
            تاريخ الطلب: 
            <ion-row >
                <ion-col size="12" >
                  {{order.order?.createdDate?.toDate() | date:'medium'}}
                </ion-col>
              </ion-row>
          </ion-col>
          </ion-row>

          <br>
      <ion-row class="order-cutomer" *ngFor="let orderDetail of order.orderDetail">
          <ion-col size="4" class="item-photo" routerLink="/product">
            <ion-img [src]="AppConsts.appBaseUrl+ '/' +orderDetail.product.mainImagePath" ></ion-img>
          </ion-col>
          <ion-col size="8" class="item-detile" >
            <ion-label class="item-id" >{{ orderDetail.product.name }}  </ion-label>
            <ion-label class="item-descrip" >{{ orderDetail.product.shortDescription }}  </ion-label>
            

            <br><br>
            
            
            <ion-row class="order-action" >  
              <ion-col size="6">العدد  :</ion-col> 
              <ion-col size="6" > 
                {{ orderDetail.qty }}
                </ion-col>
            </ion-row>

              <ion-row class="order-action" >  
                <ion-col size="6">السعر  :</ion-col> 
                <ion-col size="6" > 
                  {{ orderDetail.price }}
                  </ion-col>
              </ion-row>

             
          </ion-col>
      </ion-row>
      <ion-row class="table-head" >
        <ion-col size="12" class="item-statu">
          <ion-range min="0" max="100" step="20" snaps="true" [pinFormatter]="customFormatter" [pin]="true" color="tertiary" [value]="order.orderStatus * 10"></ion-range>
          <p class="item-hint">{{ AppOrderStatusType.getName(order.orderStatus) }} </p>
        </ion-col>
        
      </ion-row>
     
      <br>
      <ion-row class="order-action" >
        <ion-col size="6" class="order-cancel" routerLink="/tracking/{{order.id}}"> 
          <a button icon-start ion-button full class="order-track">
            <ion-label class="cancel-item" > التفاصيل</ion-label>
          </a>
           </ion-col>
           <ion-col size="6" class="call-button" routerLink="/tabs/tab1"> 
            <a button icon-start ion-button full>
              <ion-label class="add-call" > الاتصال  </ion-label>
            </a>
         </ion-col>
      </ion-row>
    </ng-container>
   </ng-container>
  </ion-grid>


  <ion-grid class="ion-margin track">
  <ion-row class="track-head" >
    <ion-label class="track-title"></ion-label>
    <ion-col size="12">طلبات مكتملة</ion-col>
  </ion-row>
  <ng-container *ngFor="let order of orders; let i = index">
    <ng-container *ngIf="order.orderStatus === 15">

      <ion-row class="track-head">
        <ion-label class="track-title"></ion-label>
        <ion-col size="6">رقم الطلب :</ion-col>
        <ion-col size="6">{{ order.id }} </ion-col>

        <ion-col size="6">تقييم السائق  :</ion-col>
      <ion-col size="6">
        <div>
          <ion-icon class="stars"  (click)="addDriverReview(1,order.userId)" [ngClass]="{'checked' : driverRating[order.userId] >= 1}" name="star" ></ion-icon>
          <ion-icon class="stars"  (click)="addDriverReview(2,order.userId)" [ngClass]="{'checked' : driverRating[order.userId] >= 2}"  name="star" ></ion-icon>
          <ion-icon class="stars" (click)="addDriverReview(3,order.userId)"  [ngClass]="{'checked' : driverRating[order.userId] >= 3}" name="star" ></ion-icon>
          <ion-icon class="stars" (click)="addDriverReview(4,order.userId)"  [ngClass]="{'checked' : driverRating[order.userId] >= 4}" name="star" ></ion-icon>
         <ion-icon class="stars"  (click)="addDriverReview(5,order.userId)"  [ngClass]="{'checked' : driverRating[order.userId] >= 5}" name="star" ></ion-icon>
        </div>
      </ion-col>

      <ion-col size="6">تقييم الطلب  :</ion-col>
      <ion-col size="6">
        <div>
          <ion-icon class="stars"  (click)="addVendorReview(1,order.vendorId)" [ngClass]="{'checked' : vendorRating[order.vendorId] >= 1}" name="star" ></ion-icon>
          <ion-icon class="stars"  (click)="addVendorReview(2,order.vendorId)" [ngClass]="{'checked' : vendorRating[order.vendorId] >= 2}"  name="star" ></ion-icon>
          <ion-icon class="stars" (click)="addVendorReview(3,order.vendorId)"  [ngClass]="{'checked' : vendorRating[order.vendorId] >= 3}" name="star" ></ion-icon>
          <ion-icon class="stars" (click)="addVendorReview(4,order.vendorId)"  [ngClass]="{'checked' : vendorRating[order.vendorId] >= 4}" name="star" ></ion-icon>
         <ion-icon class="stars"  (click)="addVendorReview(5,order.vendorId)"  [ngClass]="{'checked' : vendorRating[order.vendorId] >= 5}" name="star" ></ion-icon>
        </div>
      </ion-col>
      </ion-row>

      <ion-row class="order-cutomer" *ngFor="let orderDetail of order.orderDetail">
        <ion-col size="4" class="item-photo" routerLink="/product">
          <ion-img [src]="AppConsts.appBaseUrl+ '/' +orderDetail.product.mainImagePath" ></ion-img>
        </ion-col>
        <ion-col size="8" class="item-detile" >
          <ion-label class="item-id" >{{ orderDetail.product.name }}  </ion-label>
          <ion-label class="item-descrip" >{{ orderDetail.product.shortDescription }}  </ion-label>
          <br><br>
               
          <ion-row class="order-action" >  
            <ion-col size="6">العدد  :</ion-col> 
            <ion-col size="6" > 
              {{ orderDetail.qty }}
            </ion-col>
          </ion-row>

            <ion-row class="order-action" >  
              <ion-col size="6">السعر  :</ion-col> 
              <ion-col size="6" > 
                {{ orderDetail.price }}
              </ion-col>
            </ion-row>

            <ion-row class="order-action" >  
              <ion-col size="6">تكاليف الشحن  :</ion-col> 
              <ion-col size="6" > 
                {{ order.order.shippingAmount }}
              </ion-col>
            </ion-row>

            <ion-row class="order-action" >  
              <ion-col size="6">الضريبة   :</ion-col> 
              <ion-col size="6" > 
                {{order.taxAmount }}
               </ion-col>
            </ion-row>

            <ion-row class="order-action" >  
              <ion-col size="6">الإجمالي   :</ion-col> 
              <ion-col size="6" > 
                {{order.totalAmount }}
              </ion-col>
              </ion-row>

        </ion-col>
    </ion-row>
  <ion-row class="table-head" >
    <ion-col size="12" class="item-statu">
      <ion-range min="0" max="100" step="20" snaps="true" [pinFormatter]="customFormatter" [pin]="true" color="tertiary"></ion-range>
      <p class="item-hint"> تم التوصيل  </p>
    </ion-col>
    
  </ion-row>
 
  <br>
  <ion-row class="order-action" >
       <ion-col size="12" class="call-button" routerLink="/product"> 
        <a button icon-start ion-button full>
          <ion-label class="add-call" >تكرار الطلب   </ion-label>
        </a>
         </ion-col>
  </ion-row>

  </ng-container>
</ng-container>
</ion-grid>

</ion-content>
