<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1/1" routerDirection="root">
      <img src="assets/img/logo.png">
    </ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> قائمة الطلبات</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-col>
  </ion-row>

    <ion-grid class="ion-margin table">
      <ion-row class="table-head" >
        <ion-col>البيانات</ion-col>
        <ion-col>السعر</ion-col>
        <ion-col>الكمية</ion-col>
        <ion-col>ملاحظات</ion-col>
      </ion-row>
      <ion-row 
        *ngFor="let item of cart.Items; let i = index"
        class="table-count" >
        <ion-col> {{ item.product.name }} </ion-col>
        <ion-col>{{ item.product.price }}$</ion-col>
        <ion-col>
          <ion-icon name="remove-circle-outline" color="danger" (click)="decItem(i)"></ion-icon>
          {{ item.quantity }}
          <ion-icon name="add-circle-outline" color="success" (click)="incItem(i)"></ion-icon>
        </ion-col>
        <ion-col>لا يوجد</ion-col>
       <ion-icon name="trash-outline" color="danger" (click)="removeItem(i)"></ion-icon>
      </ion-row>
      <ion-row class="order-cost" >
        <ion-col size="6">اجور التوصيل</ion-col>
        <ion-col size="6">00 </ion-col>
      </ion-row>

      <ion-row class="order-discount" >
        <ion-col size="6">العروض والخصومات</ion-col>
        <ion-col size="6">00 </ion-col>
      </ion-row>
  
      <ion-row class="order-total" >
        <ion-col size="6">الاجمالي</ion-col>
        <ion-col size="6">{{ cart.Total }}$  </ion-col>
      </ion-row>
  
      <ion-row class="order-addres" >
        <ion-col size="12"> 
          <ion-label> عنوان التسليم</ion-label>
        </ion-col>
        <ion-col size="12"> 
          <ion-input type="text" placeholder="ادخل العنوان من فضلك ..."> </ion-input> 
          <br> <br>
           </ion-col>
      </ion-row>

      <ion-row class="order-pay" >
      
        <ion-col size="12" class="pay-title">
          <ion-label> طريقة الدفع</ion-label>
        </ion-col>
        <br> <br> 
        <ion-col size="6" class="item-pay"> <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> الدفع عند الاستلام</ion-label>
        </ion-col>
        <ion-col size="6" class="item-pay"><ion-checkbox color="primary"> </ion-checkbox> 
          <ion-label> الدفع عبر حوالة بنكية</ion-label>
        </ion-col>
      </ion-row>
      <br>


      <ion-row class="order-add" >
        <ion-col size="6" class="order-cancel" (click)="clearCart()"> 
          <ion-icon name="trash-sharp"></ion-icon>
          <ion-label> حذف </ion-label>
        </ion-col>
        <ion-col size="6" class="item-order" routerLink="/invoice"> 
          <a button icon-start ion-button full class="order-button">
            <ion-icon name="basket"></ion-icon>
            <ion-label class="add-item" > تاكيد الطلب  </ion-label>
          </a>
           </ion-col>
      </ion-row>
      
      <br> <br>
    </ion-grid>


    

</ion-content>
