.user-bar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.page-head {
  font-size: 20px;
  font-weight: 700;

}


  .table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;  
  }

  .table-head  {
      padding: 15px;
      border-bottom: solid 1px;
     text-align: center;
     font-weight: 600;
     font-size: 18px;
    }
.table-count {
    padding: 10px;
    border-bottom: solid 1px;
   text-align: center;
   font-weight: 600;
}

.order-discount {
    padding: 10px;
    border-bottom: solid 1px;
   text-align: center;
   font-weight: 600;
}

.order-cost {
    padding: 10px;
    border-bottom: solid 1px;
   text-align: center;
   font-weight: 600;
}

.order-total {
    padding: 10px;
    border-bottom: solid 1px;
   text-align: center;
   font-weight: 600;
}

.order-addres {
    padding: 10px;
   text-align: center;
   font-weight: 600;
}

.order-cancel {
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(214, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
  }

.item-order {
    background-color: rgb(0, 7, 71);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .order-button {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-item {
    padding: 5px 5px;
  }
    