<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> المطاعم والكافيهات</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>

  <div class="gate-bar">
    <ion-row>
      <ion-col *ngFor="let subcat of subcats$ | async as list"
        size="2">
        <button ion-button round color="light" class="scroll-click">
          <ion-img [src]="AppConsts.appBaseUrl + '/' + subcat.imagePath" class="scroll-item selectable-icon"></ion-img>
          <ion-label class="rest-id">{{ subcat.name }}</ion-label>
        </button>
      </ion-col>
    </ion-row>
  </div>





  <ion-grid class="main">
    <ion-row class="tool-bar">
      <ion-col size="10" class="search-item">       
    <ion-searchbar animated></ion-searchbar>
      </ion-col>
      <ion-col size="2" class="filter-item"> 
        <ion-icon name="options-outline" color="primary"></ion-icon>
      </ion-col>
    </ion-row>

    <!---  card -->
    <ion-row class="intro">
      <ion-col size="6" class="intro-item">
            <ion-row class="rst-card" routerLink="/resturant">
              <ion-col size="12" class="rest-item">
            <img src="assets/img/Istanbul-Restaurant-17.jpg" />
              </ion-col>
            </ion-row>
            <ion-row>   
              <ion-col size="6" class="rest-location">
                <ion-icon name="diamond-sharp" class="rest-map" color="primary"></ion-icon>
                <ion-label class="rest-name" color="primary">  ايوان   </ion-label>
                    </ion-col>
                    <ion-col size="6" class="rest-location">
                      <ion-icon name="fast-food-sharp"  class="rest-kind" color="primary"></ion-icon>
                      <ion-label class="rest-address" color="tertiary">    مطاعم    </ion-label>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" class="rest-location">
            <ion-icon name="location-sharp" class="rest-map" color="primary"></ion-icon>
            <ion-label class="rest-address" >    اكسراي    </ion-label>
                </ion-col>
                  <ion-col size="6" class="rest-work">
            <ion-icon name="storefront-sharp" class="rest-ico" color="primary"></ion-icon>
            <ion-label class="rest-statu" color="success" >    مفتوح    </ion-label> 
                  </ion-col>
            </ion-row> 
       </ion-col>

       <ion-col size="6" class="intro-item">
        <ion-row class="rst-card" routerLink="/resturant">
          <ion-col size="12" class="rest-item">
        <img src="assets/img/Istanbul-Restaurant-17.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>   
          <ion-col size="6" class="rest-location">
            <ion-icon name="diamond-sharp" class="rest-map" color="primary"></ion-icon>
            <ion-label class="rest-name" color="primary">  ايوان   </ion-label>
                </ion-col>
                <ion-col size="6" class="rest-location">
                  <ion-icon name="cafe-sharp" class="rest-kind" color="primary"></ion-icon>
                  <ion-label class="rest-address" color="tertiary">  كفيتيريا    </ion-label>
                </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="rest-location">
        <ion-icon name="location-sharp" class="rest-map" color="primary"></ion-icon>
        <ion-label class="rest-address" >    اكسراي    </ion-label>
            </ion-col>
              <ion-col size="6" class="rest-work">
        <ion-icon name="storefront-sharp" class="rest-ico" color="primary"></ion-icon>
        <ion-label class="rest-statu" color="success" >    مفتوح    </ion-label> 
              </ion-col>
        </ion-row> 
   </ion-col>

   <ion-col size="6" class="intro-item">
    <ion-row class="rst-card" routerLink="/resturant">
      <ion-col size="12" class="rest-item">
    <img src="assets/img/Istanbul-Restaurant-17.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>   
      <ion-col size="6" class="rest-location">
        <ion-icon name="diamond-sharp" class="rest-map" color="primary"></ion-icon>
        <ion-label class="rest-name" color="primary">  ايوان   </ion-label>
            </ion-col>
            <ion-col size="6" class="rest-location" >
              <ion-icon name="fast-food-sharp" class="rest-kind" color="primary"></ion-icon>
              <ion-label class="rest-address" color="tertiary">    مطاعم    </ion-label>
            </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="rest-location">
    <ion-icon name="location-sharp" class="rest-map" color="primary"></ion-icon>
    <ion-label class="rest-address" >    اكسراي    </ion-label>
        </ion-col>
          <ion-col size="6" class="rest-work">
    <ion-icon name="storefront-sharp" class="rest-ico" color="primary"></ion-icon>
    <ion-label class="rest-statu" color="danger" >    مغلق    </ion-label> 
          </ion-col>
    </ion-row> 
</ion-col>

<ion-col size="6" class="intro-item">
<ion-row class="rst-card" routerLink="/resturant">
  <ion-col size="12" class="rest-item">
<img src="assets/img/Istanbul-Restaurant-17.jpg" />
  </ion-col>
</ion-row>
<ion-row>   
  <ion-col size="6" class="rest-location">
    <ion-icon name="diamond-sharp" class="rest-map" color="primary"></ion-icon>
    <ion-label class="rest-name" color="primary">  ايوان   </ion-label>
        </ion-col>
        <ion-col size="6" class="rest-location">
          <ion-icon name="cafe-sharp" class="rest-kind" color="primary"></ion-icon>
          <ion-label class="rest-address" color="tertiary">  كفيتيريا    </ion-label>
        </ion-col>
</ion-row>
<ion-row>
    <ion-col size="6" class="rest-location">
<ion-icon name="location-sharp" class="rest-map" color="primary"></ion-icon>
<ion-label class="rest-address">    اكسراي    </ion-label>
    </ion-col>
      <ion-col size="6" class="rest-work">
<ion-icon name="storefront-sharp" class="rest-ico" color="primary"></ion-icon>
<ion-label class="rest-statu" color="success" >    مفتوح    </ion-label> 
      </ion-col>
</ion-row> 
</ion-col>
    </ion-row>
  </ion-grid>










</ion-content>
