
<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> الاشعارات</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>


  </ion-row>

  <ion-row class="noti" >
    <ion-col size="3" class="noti-photo" >
      <img src="assets/img/noti.png" />
    </ion-col>
    <ion-col size="9" class="noti-detile">
      <ion-label class="noti-id">عروض مميزة قادمة </ion-label>
      <p class="noti-descrip"> مجموعة من العروض المميزة من المطاعم في طريقها اليك  </p>
    </ion-col>
</ion-row>


</ion-content>
