
/** Header Style **/ 
.ion-toolbar {
    border: none;
 }

 ion-title {
    color: white;
}
 
 ion-menu-button{
     --color:white !important;
      color:white !important;
      font-size: 50px;
   }
 
 .back {
     float: left;
     color: aliceblue;
     padding: 1%;
     font-size: 18px;
 }
 
 
  /** Menue Style **/
 .header-ios ion-toolbar:last-of-type {
     --border-width: 0 0 0. 0px;
     border-bottom-left-radius: 21px;
     border-bottom-right-radius: 21px;
     padding-top: 2%;
     padding-bottom: 2%;
 
     background-color: #292562;
 }

  /** Address-info  **/

.Address-info {
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #eeeeee;
    border-top-left-radius: 0px;
}

h1 {
    color: #292562;
    font-size: 22px;
    font-weight: 600;

}

.add-new {
    color: white;
    font-size: 18px;
    font-weight: 600;
}