<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Reset-password</ion-title>
  </ion-toolbar>
</ion-header>
--->

<!---  Form  header -->
<ion-content class="bag-Reset">
  <section class = "logos-container">
    <div class="row logos">
      <div class="col-4">
      </div>
      <div class="col-4 tittle">
        <img src="assets/img/logo.png" />
        <h1> تعيين كلمة مرور جديدة</h1>
        <p> يرجى تعيين كلمة مرور جديدة وقوية</p>
      </div>
      <div class="col-4">
      </div>
    </div>
<!--- End Form  header -->

<!---  Form  -->
<form [formGroup]="validations_form">
<div formGroupName="matching_passwords">
    <ion-row class="Resat-form">
      <ion-col>
        <ion-list >
          <ion-label class="fild-blash">
            كلمة مرور جديدة
          </ion-label>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
         
                <ion-input  formControlName="newPass" class="form-controll" type="password">
            </ion-input>
         
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.newPass">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('newPass').hasError(validation.type) && (validations_form.get('matching_passwords').get('newPass').dirty || validations_form.get('matching_passwords').get('newPass').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-label class="fild-blash">
            تأكيد كلمة المرور 
          </ion-label>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
         
            <ion-input  formControlName="confirmPass" class="form-controll" type="password"></ion-input>
        
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirmPass').dirty || validations_form.get('matching_passwords').get('confirmPass').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-list>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="errorMsg">
              <ion-icon name="information-circle-outline"></ion-icon> {{ errorMsg }}
            </div>
          </ng-container>
        </div>
        <div class="align-items-center">
          <button ion-button expand="block" (click)="save()" class="continue-button" [disabled]="!validations_form.valid">
          تأكيد
          </button>
        </div>
      </ion-col>
    </ion-row>
    </div>
    </form>
    <!--- End Form   -->
  

<ion-content>
