.ion-content {
    padding: 6%;

}


/*  Form  header Title */

.logos {
    text-align: center;
    margin-top: 16%;
}


.tittle {
    margin: 6%;
}

h1 {
    color: #000157;
    font-size: 24px;
    font-weight: 700;
}


/*  Form  */
.Reset-form {
    border: #ededed;
    border-style: solid;
    border-radius: 23px 1px 10px 20px;
    margin: 6%;
}

ion-label {
    color: #0d0058!important;
}

/*  Form Feild */ 
.item-input {
    padding-bottom: 6%;
    padding-top: 6%;
    font-size: 18px;
}


/*  Register Button  */
.continue-button {
    align-items: center;
    background-color: #070253;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom: 5%;
}

 .align-items-center {
    display: grid;
    padding: 0% 020%;
 }

 .fild-blash {
     padding-right: 5%;
 }
