 <ion-app dir="rtl">  
    <ion-menu menuId="first" contentId="content">  
      <ion-header>  
        <ion-toolbar color="success">  
          <ion-title>القائمة</ion-title>  
        </ion-toolbar>   
      </ion-header>  
      <ion-content>  
  
        <ion-list >  
          <ion-menu-toggle auto-hide="true"> 
           <ion-item routerLink="/intro" routerDirection="forward" >  
             <ion-icon name="reader-outline"></ion-icon> 
               <ion-label> الرئيسية</ion-label>  
           </ion-item>  
            <ion-item routerLink="tabs/profile" routerDirection="forward" >  
             <ion-icon name="person-outline"></ion-icon>
                <ion-label> الملف الشخصي </ion-label>  
            </ion-item> 
            <ion-item routerLink="/saved-address" routerDirection="forward" >  
              <ion-icon name="location-outline"></ion-icon>
                <ion-label> عناويني </ion-label>  
            </ion-item> 
            <ion-item routerLink="/wallet" routerDirection="forward" >  
              <ion-icon name="wallet-outline"></ion-icon>  
                <ion-label> رصيدي في المحفظة </ion-label>  
            </ion-item>
            <ion-item routerLink="/offers" routerDirection="forward" >  
              <ion-icon name="pricetags-outline"></ion-icon>
               <ion-label> العروض </ion-label>  
           </ion-item> 
            <ion-item routerLink="/favorite" routerDirection="forward" >  
              <ion-icon name="heart-outline"></ion-icon> 
               <ion-label> المفضلة </ion-label>  
           </ion-item> 
           <ion-item routerLink="/tabs/tab2" routerDirection="forward" >  
            <ion-icon name="bookmarks-outline"></ion-icon> 
             <ion-label> طلباتي </ion-label>  
         </ion-item> 
         <ion-item routerLink="/tabs/tab3" routerDirection="forward" >  
          <ion-icon name="cart-outline"></ion-icon> 
           <ion-label> السلة </ion-label>  
       </ion-item> 
     <!--       <ion-item routerLink="/notification" routerDirection="forward">  
            <ion-icon name="notifications-outline"></ion-icon>  
              <ion-label> الاشعارات </ion-label>  
          </ion-item> -->
      
           <ion-item routerLink="/support" routerDirection="forward" >  
             <ion-icon name="help-buoy-outline"></ion-icon>
               <ion-label> الدعم والمساعدة </ion-label>  
           </ion-item>  
         <!--   <ion-item routerLink="/massage" routerDirection="forward">  
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>الرسائل </ion-label>  
          </ion-item> -->
         
          <ion-item routerLink="/about" routerDirection="forward" >  
            <ion-icon name="alert-circle-outline"></ion-icon>
              <ion-label> من نحن</ion-label>  
          </ion-item>
          <ion-item routerLink="/test-map" routerDirection="forward" >  
            <ion-icon name="alert-circle-outline"></ion-icon>
              <ion-label> اختبار</ion-label>  
          </ion-item>
          <ion-item routerLink="/test-map2" routerDirection="forward" >  
            <ion-icon name="alert-circle-outline"></ion-icon>
              <ion-label>  2اختبار</ion-label>  
          </ion-item>
          <ion-item (click)="exit()">  
            <ion-icon name="exit-outline"></ion-icon>
              <ion-label> الخروج </ion-label>  
          </ion-item>
          </ion-menu-toggle>  
        </ion-list>  
      </ion-content>   
    </ion-menu>  
    <ion-router-outlet Id="content"></ion-router-outlet>  
  </ion-app>
