ion-icon {
    padding: 5%;
}


ion-item {
    padding: 2%;
    font-weight: 600;
}

ion-title {
    color: aliceblue;
}


.toolbar-container {
    --background-color: darkblue!important;
}

.sc-ion-alert-md {
    margin-left: 65%;
}
.varientsmodal .modal-wrapper{
    min-height: 200px !important;
    height: auto !important;
}
