 <ion-app dir="rtl">  
    <ion-menu menuId="first" contentId="content">  
      <ion-header>  
        <ion-toolbar color="success">  
          <ion-title>القائمة</ion-title>  
        </ion-toolbar>   
      </ion-header>  
      <ion-content>  
  
        <ion-list >  
          <ion-menu-toggle auto-hide="true"> 
           <ion-item routerLink="/intro" routerDirection="forward">  
             <ion-icon name="reader-outline"></ion-icon> 
               <ion-label> الرئيسية</ion-label>  
           </ion-item>  
            <ion-item routerLink="tabs/profile" routerDirection="forward">  
             <ion-icon name="person-outline"></ion-icon>
                <ion-label> الملف الشخصي </ion-label>  
            </ion-item> 
            <ion-item routerLink="/saved-address" routerDirection="forward">  
              <ion-icon name="location-outline"></ion-icon>
                <ion-label> العناوين </ion-label>  
            </ion-item> 
            <ion-item routerLink="/wallet" routerDirection="forward">  
              <ion-icon name="wallet-outline"></ion-icon>  
                <ion-label> المحفظة </ion-label>  
            </ion-item>
            <ion-item routerLink="/favorite" routerDirection="forward">  
              <ion-icon name="bookmarks-outline"></ion-icon> 
               <ion-label> المفضلة </ion-label>  
           </ion-item> 
           <ion-item routerLink="/tabs/tab2" routerDirection="forward">  
            <ion-icon name="bookmarks-outline"></ion-icon> 
             <ion-label> قائمة الطلبات </ion-label>  
         </ion-item> 
           <ion-item routerLink="/notification" routerDirection="forward">  
            <ion-icon name="notifications-outline"></ion-icon>  
              <ion-label> الاشعارات </ion-label>  
          </ion-item>
            <ion-item routerLink="/settings" routerDirection="forward">  
             <ion-icon name="settings-outline"></ion-icon>
               <ion-label> الاعدادات </ion-label>  
           </ion-item> 
           <ion-item routerLink="/support" routerDirection="forward">  
             <ion-icon name="help-buoy-outline"></ion-icon>
               <ion-label> الدعم </ion-label>  
           </ion-item>  
           <ion-item routerLink="/massage" routerDirection="forward">  
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>الرسائل </ion-label>  
          </ion-item>
           <ion-item (click)="openChat()">  
            <ion-icon name="chatbubbles-outline"></ion-icon>
              <ion-label> اتصل بنا </ion-label>  
          </ion-item>
          <ion-item routerLink="/about" routerDirection="forward">  
            <ion-icon name="alert-circle-outline"></ion-icon>
              <ion-label> من نحن</ion-label>  
          </ion-item>
          </ion-menu-toggle>  
        </ion-list>  
      </ion-content>   
    </ion-menu>  
    <ion-router-outlet Id="content"></ion-router-outlet>  
  </ion-app>
