<!---   header -->
<!---
<ion-header>    
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
-->
<!---  End  header -->

<!---  Form  header -->
<ion-content class="bag-reg">
  <section class = "logos-container">
    <div class="row logos">
      <div class="col-4">
      </div>
      <div class="col-4 tittle">
        <h1>انشاء حساب</h1>
        <p> الرجاء إدخال البيانات الخاصة  بك لإنشاء حساب.</p>
      </div>
      <div class="col-4">
      </div>
    </div>
<!--- End Form  header -->

<!---  Form  -->
    <ion-row class="account-form">
      <ion-col>
        <ion-list >
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.name"
              placeholder="الاسم"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.middleName"
              placeholder="الاسم الثاني"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.lastName"
              placeholder="الاسم الثالث"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.nickName"
              placeholder="اللقب"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-select [(ngModel)]="model.gender" interface="popover" placeholder="الجنس">
              <ion-select-option value=0>ذكر</ion-select-option>
              <ion-select-option value=1>انثى</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.mobile"
              placeholder=" رقم التلفون"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.additionalMobile"
              placeholder="رقم تلفون اضافي"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon  name="person" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.address"
              placeholder="العنوان"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="model.email"
              placeholder="البريد الالكتروني"
              type="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
            <ion-icon (click)="password()" class="show-option" [hidden]="showPass" name="eye-off-outline"></ion-icon>
            <ion-icon (click)="password()" class="hide-option" [hidden]="!showPass" name="eye-outline"></ion-icon>
            <ion-input
              [(ngModel)]="model.password"
              placeholder="كلمة المرور"
              [type]="showPass ? 'text' : 'password'"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
            <ion-icon (click)="confirmPassword()" class="show-option" [hidden]="showConfirm" name="eye-off-outline"></ion-icon>
            <ion-icon (click)="confirmPassword()" class="hide-option" [hidden]="!showConfirm" name="eye-outline"></ion-icon>
            <ion-input
              [(ngModel)]="model.confirmPassword"
              placeholder="تاكيد كلمة المرور"
              [type]="showConfirm ? 'text' : 'password'"
            ></ion-input>
          </ion-item>
        </ion-list>
            <!---  Regester button  -->
            <ion-col size="12">
              <ion-button expand="block" (click)="save()" class="continue-button" >
                انشاء حساب
              </ion-button>
            </ion-col>
        
            <!---  End  Regester  button  -->
      </ion-col>
    </ion-row>
    <!--- End Form   -->
  

<ion-content>
