<!---   header -->
<!---
<ion-header>    
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
-->
<!---  End  header -->

<!---  Form  header -->
<ion-content class="bag-reg">
  <section class = "logos-container">
    <div class="row logos">
      <div class="col-4">
      </div>
      <div class="col-4 tittle">
        <h1>انشاء حساب</h1>
        <p> الرجاء إدخال البيانات الخاصة  بك لإنشاء حساب.</p>
      </div>
      <div class="col-4">
      </div>
    </div>
<!--- End Form  header -->

<!---  Form  -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <ion-row class="account-form">
      <ion-col>
        <ion-list >
          <ion-item >
            <ion-label slot="end"> 
              <ion-icon  name="person-outline" ></ion-icon>
            </ion-label>
            <ion-input
            formControlName="name"
              placeholder="الاسم"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item >
            <ion-label slot="end"> 
              <ion-icon  name="person-outline" ></ion-icon>
            </ion-label>
            <ion-input
              formControlName="middleName"
              placeholder="الاسم الثاني"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon name="people-outline"></ion-icon>
            </ion-label>
            <ion-input
              formControlName="lastName"
              placeholder="الاسم الثالث"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon name="megaphone-outline"></ion-icon>
            </ion-label>
            <ion-input
              formControlName="nickName"
              placeholder="اللقب"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon name="male-female-outline"></ion-icon>
            </ion-label>
            <ion-select 
            formControlName="gender" placeholder="الجنس">
              <ion-select-option value=0>ذكر</ion-select-option>
              <ion-select-option value=1>انثى</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </ion-label>
            <ion-input
              formControlName="mobile"
              placeholder=" رقم التلفون"
              type="number"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end"> 
              <ion-icon name="call-outline"></ion-icon>
            </ion-label>
            <ion-input
              formControlName="additionalMobile"
              placeholder="رقم تلفون اضافي"
              type="number"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label slot="end">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-label>
            <ion-input
              formControlName="email"
              placeholder="البريد الالكتروني"
              type="email"
            ></ion-input>
          </ion-item>
          <div class="invalid-feedback" *ngIf="f.email.errors?.email">
            <span class="text-danger" >البريد الالكتروني غير صالح</span>
          </div>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
            <ion-icon (click)="password()" class="show-option" [hidden]="showPass" name="eye-off-outline"></ion-icon>
            <ion-icon (click)="password()" class="hide-option" [hidden]="!showPass" name="eye-outline"></ion-icon>
            <ion-input
              formControlName="password"
              placeholder="كلمة المرور"
              [type]="showPass ? 'text' : 'password'"
         
            ></ion-input>
          </ion-item>
          <div class="invalid-feedback" *ngIf="(submitted || f.password.dirty) && !minLengthValid">
            <div>كلمة المرور يجب أن تكون 6 مخارف على الأقل</div>
          </div>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
            <ion-icon (click)="confirmPassword()" class="show-option" [hidden]="showConfirm" name="eye-off-outline"></ion-icon>
            <ion-icon (click)="confirmPassword()" class="hide-option" [hidden]="!showConfirm" name="eye-outline"></ion-icon>
            <ion-input
              formControlName="confirmPassword"
              placeholder="تاكيد كلمة المرور"
              [type]="showConfirm ? 'text' : 'password'"
            ></ion-input>
          </ion-item>
          <div class="invalid-feedback" *ngIf="(submitted || f.confirmPassword.dirty) && f.confirmPassword.errors">
            <div *ngIf="f.confirmPassword.errors.mismatch">كلمة المرور والتأكيد غير متطابقتان</div>
          </div>
        </ion-list>
            <!---  Regester button  -->
            <ion-col size="12">
              <ion-button expand="block" type="submit"  class="continue-button" >
                انشاء حساب
              </ion-button>
            </ion-col>
        
            <!---  End  Regester  button  -->
      </ion-col>
    </ion-row>
    <!--- End Form   -->
  </form>

<ion-content>
