
/*  Body */

.ion-content {
    padding: 6%;

}


/*  Form  header Title */

.logos {
    text-align: center;
    margin-top: 5%;
}


.tittle {
    margin: 2%;
}

h1 {
    color:#292562;
    font-size: 24px;
    font-weight: 700;
}


/*  Form  */
.account-form {
    border: #ededed;
    border-style: solid;
    border-radius: 10px;
    margin: 5%;
}

ion-label {
    color: #2cae70;
}

/*  Form Feild */ 
.item-input {
    padding-bottom: 6%;
    padding-top: 6%;
    font-size: 18px;
}

.item-select {
    padding-bottom: 6%;
    padding-top: 6%;
    font-size: 18px;
}

/*  Register Button  */
.continue-button {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom: 5%;
}