.user-bar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.page-head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.stars{
  color:rgb(170, 167, 167) ;
}
.checked{
  color:#ff9100 !important;
}
.stars :hover{
  color:#ff9165 !important ;
}
.banner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  
}


.baner {
    border-radius: 20px;
}


ion-scroll{
    height: 50px;
    
    .scroll-zoom-wrapper{
      display: inline-flex;
    }
  }


  .scroll-click {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
      border-radius: 5px;
      display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    padding: 10px;
  }

  .selectable-icon {
      padding-bottom: 5px;
    font-size: 20px;
  }
 .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 5%;
    
 }

  .prod-top {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 5px;

  }

  .shipping-icon {
      font-size: x-large;
      color: rgb(255, 145, 1);
  }

  .prod-mid {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prod-number {
      padding: 0px 10px;
  }

  .item-cost {
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .item-price {
    color: rgb(255, 145, 0);
    padding: 5px 5px;
  }

  .item-order {
    background-color: rgb(0, 7, 71);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .order-button {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-item {
    padding: 5px 5px;
  }
 

  .prod-describ {
      font-size: 12px;
  }

