ion-icon {
    padding: 5%;
}

.user-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
ion-item {
    padding: 2%;
    font-weight: 600;
}

ion-title {
    color: aliceblue;
}


.toolbar-container {
    --background-color: darkblue!important;
}