
 <ion-content>
  <ion-grid class="main">
<ion-row >
  <ion-col class="logos">
    <img src="assets/img/logo.png" alt="logo" height="150" width="150"/>
    <p> مرحبا بعودتك</p>
  </ion-col>
</ion-row>
<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
<ion-row class="login-form">
  <ion-col size="10" >
    
     <ion-input class="input-form"
     formControlName="email"
     placeholder="البريد الالكتروني"
     type="email"
   ></ion-input>
  </ion-col>
  <ion-col size="2" class="icons">
    <ion-icon name="phone-portrait-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10">
   <ion-label slot="end">
    <ion-icon name="key-outline"></ion-icon>
  </ion-label>
     <ion-input
              class="input-form"
              formControlName="password"
              placeholder="كلمة المرور"
              [type]="show ? 'text' : 'password'">
            </ion-input>
</ion-col>
<ion-col size="1" class="icons">
  <ion-icon (click)="password()" class="show-option" [hidden]="show" name="eye-off-outline"></ion-icon>
  <ion-icon (click)="password()" class="hide-option" [hidden]="!show" name="eye-outline"></ion-icon>
</ion-col>
<ion-col size="1" class="icons">
  <ion-icon name="key-outline"></ion-icon>
</ion-col>
<ion-col size="12" class="forget" routerLink="/reset-password">

    <ion-icon name="key-outline"></ion-icon> نسيت كلمة المرور

</ion-col>
<ion-col  size="12">
  <ion-button expand="block" type="submit" class="continue-button">
    تسجيل الدخول
    </ion-button>
</ion-col>
<ion-col size="3" >
    <ion-toggle  formControlName="rememberMe" ></ion-toggle> 
  </ion-col>

  <ion-col class="toggle-lbl">
    تذكرني
  </ion-col>
</ion-row>
</form>
<div class="row logos">
  <div class="col-4 tittle">
    <ion-label slot="end" class="new-account" routerLink="/sign-up">
      إنشاء حساب جديد
      </ion-label>
  </div>
</div>
</ion-grid>

</ion-content> 
