
<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<!--- Form  header -->
<ion-content>
  <section class = "logos-container">
    <div class="row logos">
      <div class="col-4 tittle">
        <img src="assets/img/logo.png" alt="logo"/>
        <p> مرحبا بعودتك.</p>

      </div>
    </div>
     <!--- End Form  header -->

     <!---  Form  -->
    <ion-row class="login-form">
      <ion-col>
        <ion-list lines="none" >
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="phone-portrait-outline" ></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="authService.authenticateModel.email"
              placeholder="البريد الالكتروني"
              type="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="key-outline"></ion-icon>
            </ion-label>
            
            <ion-icon (click)="password()" class="show-option" [hidden]="show" name="eye-off-outline"></ion-icon>
            <ion-icon (click)="password()" class="hide-option" [hidden]="!show" name="eye-outline"></ion-icon>
            <ion-input
              [(ngModel)]="authService.authenticateModel.password"
              placeholder="كلمة المرور"
              [type]="show ? 'text' : 'password'">
            </ion-input>

          </ion-item>
          <ion-item>
            <ion-label slot="end" class="forget" routerLink="/reset-password">
              <ion-icon name="key-outline"></ion-icon> نسيت كلمة المرور
            </ion-label>
          </ion-item>
          <ion-item class="custom-ion-toggle">
            <ion-label>تذكرني</ion-label>
            <ion-toggle slot="start" color="primary" [checked]="true"></ion-toggle>
        </ion-item>
        </ion-list>

       
         <!---  log in button  -->
         <ion-col size="12">
          <ion-button expand="block" (click)="login()" class="continue-button">
          تسجيل الدخول
          </ion-button>
        </ion-col>
        <!---  End log in button  -->
      </ion-col>
    </ion-row>

    <div class="row logos">
      <div class="col-4 tittle">
        <ion-label slot="end" class="new-account" routerLink="/sign-up">
          إنشاء حساب جديد
          </ion-label>
      </div>
    </div>

    <!--- End Form   -->
  </section>

<ion-content>
