.thanx {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.thanx-title {
    color: #ff6600;
}

.thanx-head {
  padding-top: 50px;
}



.main-button {
    background-color: rgb(0, 7, 71);
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
  }

  .order-track {
    color: aliceblue;
    background-color: #ff6600;
    border-radius: 10px;
    padding: 10px;
  }