<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1/1" routerDirection="root">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title">تعديل عنوان</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>

 <!--Address Info-->

<section class="address-info" >
  <ion-grid class="sevices">
    <form  [formGroup]="addrInfoForm" #form="ngForm" >
    <ion-row>
      <ion-col >
        <ion-list lines="none">
          <ion-item class="prod-top">
              <ion-input type="txt"
              formControlName="addressTitle"
               placeholder="اسم العنوان مثلا منزلي أو المكتب .."></ion-input>
          </ion-item>
   
          <ion-item class="prod-top">
            <ion-input type="txt" 
            formControlName="city"
            placeholder="المدينة"></ion-input>
          </ion-item>
  
          <ion-item class="prod-top">
            <ion-input type="text"
            formControlName="area"
                placeholder="المنطقة"></ion-input>
          </ion-item>
          <ion-item class="prod-top">
            <ion-input type="text" 
            formControlName="houseNo"
             placeholder="رقم البناء"></ion-input>
          </ion-item>
            <ion-item class="prod-top">
            <ion-textarea type="text"
            [autoGrow]="true" 
            formControlName="landmark"
             placeholder="اكتب وصف ودلائل عن المكان"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-col  [routerLink]="['/locate-me-edit',id]">
              <ion-icon name="locate-outline"></ion-icon>   تحديد موقع جديد    
           
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>


      <!-- save Address -->
      <ion-col size="12">
        <ion-button  expand="block"  class="save-address" (click)="saveAddress()" >
        حفظ
        </ion-button>
      </ion-col>
      <!-- save Address -->
    </ion-row>
    </form>
  </ion-grid>
</section>

</ion-content>

