
<ion-content>
  <ion-grid class="ion-margin thanx">
    <ion-row  >
      <ion-col size="12" class="thanx-head">
        <img src="assets/img/logo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="thanx-title" >
        <ion-label >
         قريباً
        </ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" class="thanx-text"> <p>
        شكرا لوجودكم في طلباتي <br> يعمل فريقنا على اطلاق هذا القسم في اقرب وقت <br> يمكنكم  العودة للصفحة الرئيسية
      </p>
    </ion-col>
  
    </ion-row>
  
    <br>
    <ion-row class="order-add" >
         <ion-col size="12" class="main-button" routerLink="/intro" replaceUrl="true"> 
          <a button icon-start ion-button full class="main-button">
            <ion-label class="add-item" > الرئيسية  </ion-label>
          </a>
           </ion-col>
    </ion-row>
  </ion-grid>
  
  </ion-content>
