<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1">       
      <img src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> عناويني</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>


  <!-- map  -->
  <section class="map-section">
       <div class="map-block">
         <ion-item class="map-header">
          <ion-icon name="locate" class="location"></ion-icon>
          <ion-lable class="location-titlle"> مافيرا 1 / اسطنبول / تركيا</ion-lable>
         </ion-item>
       </div>
  </section>
<!--End  map  -->

 <!-- Address info  -->

<section>
  <ion-grid class="Address-info">
    <ion-row>
      <ion-col size="12">
        <h1> العنوان الحالي </h1>
        <ion-list lines="none">
          <ion-item >
             <ion-lable class="location-titlle"> مافيرا 1 / اسطنبول / تركيا</ion-lable>
              <!--  Edite Address info  -->
             <ion-icon class="edite-location" name="create"  routerLink="/addres" ><span>تعديل</span></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>

       <!--End  Address info  -->

        <!-- Add Address  -->
      <ion-col size="12">
        <ion-button  expand="block" class="add-new"  routerLink="/addres">
         اضافة عنوان جديد
        </ion-button>
      </ion-col>

           <!-- Add Address  -->
    </ion-row>
  </ion-grid>
</section>

</ion-content>
