
.user-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .stars{
    color:rgb(170, 167, 167) ;
  }
  .checked{
    color:#ff9100 !important;
  }
  .stars :hover{
    color:#ff9165 !important ;
  }
  
  .page-head {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .offer-img{
    border-radius:8px;
    height: 170px !important;
  }