
<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1/1" routerDirection="root">       
      <img alt="logo" src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> العروض</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>
<section>  
  <ion-grid>
    <ion-row>
      <ion-col >
        <img src="assets/img/coupon4.jpg" class="offer-img" alt=""  routerLink="/restaurant-new/0b6383a3-1789-400c-8646-94984f55bde1"/>
      </ion-col>
      <ion-col>
        <img src="assets/img/coupon6.jfif" class="offer-img" alt="" routerLink="/restaurant-new/12b212e2-ae24-4c9c-83c4-6578e61f545a"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <img src="assets/img/coupon5.jfif" class="offer-img" alt="" routerLink="/restaurant-new/4b5a8cd2-e62a-4c9e-98e1-de30a3cd7ea8"/>
      </ion-col>
      <ion-col>
        <img src="assets/img/coupon4.jpg"class="offer-img" alt="" routerLink="/restaurant-new/c2fa02c9-e294-4392-81a7-9bc98a639896"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <img src="assets/img/coupon5.jfif" class="offer-img" alt="" routerLink="/restaurant-new/d3dd79e9-bb72-4be5-aa3b-d53adfd5114a"/>
      </ion-col>
      <ion-col>
        <img src="assets/img/coupon6.jfif" class="offer-img" alt="" routerLink="/restaurant-new/12b212e2-ae24-4c9c-83c4-6578e61f545a"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
</ion-content>
