
<ion-content [fullscreen]="true">
  <ion-row class="user-bar">
    <ion-col size="2" class="logo-head" routerLink="/tabs/tab1/1" routerDirection="root">       
      <img alt="logo" src="assets/img/logo.png">
</ion-col>
    <ion-col size="8" class="page-head">
      <ion-label class="rest-title"> العروض</ion-label>   
    </ion-col>

    <ion-col size="2" class="page-head">
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>  
    </ion-col>
  </ion-row>
<section>  
  <ion-grid>
    <ion-row class="intro">
      <ion-col *ngFor="let product of featuredProducts" size="5.7" class="intro-item" >
        <div class="rst-card" routerDirection="forward">
          <div size="12" class="rest-item">
            <img [src]="AppConsts.appBaseUrl + '/' + product.mainImagePath" class="img-vendor" height="100" [routerLink]="['/product', product.id]"/>
          </div>
        </div>
        <ion-row>
          <ion-col size="12" class="rest-location">
            <ion-label class="rest-name" color="primary"> <del> {{AppConsts.currency}}  {{ product.price }} </del></ion-label>
            <ion-label class="rest-name" color="primary">{{AppConsts.currency}}  {{ product.price - product.discount }} </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
</ion-content>
